*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    background-color: black;
}

h2{
    position: absolute;
top: 2rem;
width: fit-content;
backdrop-filter: blur(5px);
background-color: rgba(255, 255, 255, 0.082);
z-index: 999;
padding: 1rem 10% 1rem 20% ;
color: white;
font-size: 2rem;
}

#slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
}

.slide h3{
    position: absolute;
    top: 7rem;
    left: 20%;
    z-index: 9;
    color: white;
    font-size: 2rem;
    max-width: 0;
    overflow: hidden;
    transition: max-width 4s ease 1s;
}

.slide{
   position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 1.5s ease ;
    justify-content: center;
}

.slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .details{
    position: absolute;
    top: 75%;
    left: 20%;
    z-index: 9;
    color: white; 
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 4s ease 1.5s;
}

.slide .details p{
    font-size: 2rem;
   
}

.slide label{
    z-index: 999;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 2rem;
    align-content: center;
}

.slide label i{
    color:rgba(255, 255, 255, 0.833);
    font-size: 30px;
}

.pre{
    left: 0;
}

.nxt{
    right: 0;
}

input{
    display: none;
}

input[type="radio"]:checked+.slide{
z-index: 99;
opacity: 1;
}

input[type="radio"]:checked+.slide h3{
    max-width: 100%;
}

input[type="radio"]:checked+.slide .details {
    max-height: 100%;
}


nav{
    position: absolute;
    bottom: 2rem;
    justify-content: center;
    z-index: 999;
    display: flex;
    width: 100%;
    
}

nav label{
    border : 1.5px solid rgba(255, 255, 255, 0.833);
   width: 10px;
   height: 10px;
   border-radius: 50%;
    margin: 5px;
}

#image1:checked~nav label[for="image1"]{
    background-color:rgba(255, 255, 255, 0.833) ;
}

#image2:checked~nav label[for="image2"]{
    background-color:rgba(255, 255, 255, 0.833) ;
}

#image3:checked~nav label[for="image3"]{
    background-color:rgba(255, 255, 255, 0.833) ;
}

#image4:checked~nav label[for="image4"]{
    background-color:rgba(255, 255, 255, 0.833) ;
}

@media screen and (max-width:450px) {
    
    #slide1 img{
        content: url(images/lion-mobile.jpg);
    }

    #slide2 img{
        content: url(images/tiger-mobile.jpg);
    }

    #slide3 img{
        content: url(images/elephant-mobile.jpg);
    }

    #slide4 img{
        content: url(images/cheeta-mobile.jpg);
    }

}

@media screen and (max-width:600px) {

    

    .slide h3{
        font-size: 1rem;
        transition: max-width 2s ease 1s;
    }

    .slide .details p{
        font-size: 1rem;
        
        
    }
    .slide .details{
        top:80%;
        transition: max-height 6s ease 1.5s;
    }

    h2{
        font-size: 1rem;
    }

}

@media screen and (max-width:900px)
{
    .slide label{
    display: none;
}
}